<body>
    <div class="cardContainer">
    <div class="card" style="background-color:#d4af37;">
    <h2>SEDANS</h2>
    <p>Choose a sedan for its affordablity and excellent fuel economy.</p>
    <button type="button" onclick="alert('Hello world!')">Learn More</button>
    </div>
    <div class="card" style="background-color:rgb(12, 126, 120);">
    <h2>SEDANS</h2>
    <p>Take an SUV for its spacious interior,power and versatality</p>
    <button type="button" onclick="alert('Hello world!')">Learn More</button>
    </div>
    <div class="card" style="background-color:#1c4a59;">
    <h2>SEDANS</h2>
    <p>Cruise in the best car brands without the bloated prices.</p>
    <button type="button" onclick="alert('Hello world!')">Learn More</button>
    </div>
    </div>
    </body>